/* DEBUT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #08011E, #1C1545);
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

header .logo span {
    color: red;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: red; /* Couleur au survol */
}


.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 80vh;
}

.infos .presentation {
    max-width: 50%;
}

.infos h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.infos h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.infos .metier {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}

.infos .metier span {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.infos .description {
    margin: 20px 0;
    line-height: 1.6;
}

.reseaux a img {
    width: 30px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.reseaux a img:hover {
    transform: scale(1.1);
}

.portfolio-btn {
    display: inline-block;
    background: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.portfolio-btn:hover {
    background: darkred;
}

/* POUR LA PHOTO */
.profile-pic {
    width: 300px;
    height: 300px;
    border: 5px solid red;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
