body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    /* background-color: #2d2c2e; */
    color: #000000;
    display: flex;
    justify-content: flex-end; /* Aligne le menu à droite */
    align-items: center;
    padding: 20px;
    box-shadow:  0 3px 5px rgba(0, 0, 0, 0.3);
    height: 70px;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 60px; /* Pour séparer les mots */
}

.menu li a {
    text-decoration: none;
    color: #000000; /* Changer la couleur du texte en blanc */
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ff9800; /* Couleur au survol */
}

.img {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.gros-titre{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}


